/.vs
/[Ll]ibrary
/[Bb]uilds
/[Tt]emp
/[Oo]bj
/[Ll]ogs
/UnityPackageManager
/ProjectSettings/EditorBuildSettings.asset
/Assets/SpaceNavigator
/Assets/SpaceNavigator.meta
/UWP*
*.csproj
*.sln
*.user
*.userprefs
*.zip
*.7z
*.7z.meta
*.zip.meta
*.pidb.meta
*.DotSettings
*.DotSettings.user
/UserSettings
